body {
    display: grid;
    height: 100vh;
    width: 200vh;
    margin: 0;
    padding: 0;
    background-color: #2C2C2C;
    color: whitesmoke;
}

.stats{
    font-size: 30px;
    text-align: center;
    margin-top: 1%;
    margin-right: 92%;
}

.treeAge {
    font-size: 20px;
    margin-top: 8%;
    margin-left: 35px;
}

.leaves {
    color:rgb(41, 250, 22);
}

.normal {
    margin-left: 47%;
    margin-top: 8%;
    height: 75px;
    width: 150px;
    font: bold;
}

.button {
    margin-left: 90%;
    height: 75px;
    width: 150px;
    text-align: center;
}
